<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.zendrive.phonegap.sdk"
    version="1.1.0">

    <name>Zendrive</name>
    <description>Phonegap plugin for the Zendrive SDK.</description>
    <platform name="android">
      <config-file target="res/xml/config.xml" parent="/*">
          <feature name="Zendrive">
              <param name="android-package" value="com.zendrive.phonegap.ZendriveCordovaPlugin" />
              <param name="onload" value="true" />
          </feature>
      </config-file>

      <dependency id="com.google.playservices" />
      <dependency id="android.support.v4" />

      <source-file src="src/android/com/zendrive/phonegap/ZendriveCordovaPlugin.java" target-dir="src/com/zendrive/phonegap" />

    </platform>
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="Zendrive">
                <param name="ios-package" value="ZendriveCordovaPlugin" />
            </feature>
        </config-file>
        <header-file src="src/ios/ZendriveCordovaPlugin.h" />
        <source-file src="src/ios/ZendriveCordovaPlugin.m" />
    </platform>
</plugin>
