<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.zendrive.phonegap.sdk"
    version="1.2.4">

    <name>Zendrive</name>
    <description>Phonegap plugin for the Zendrive SDK.</description>
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Zendrive">
                <param name="android-package" value="com.zendrive.phonegap.ZendriveCordovaPlugin" />
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
            <uses-permission android:name="android.permission.INTERNET" />

            <!-- This permission is needed for automatic drive detection by Zendrive. -->
            <uses-permission android:name= "com.google.android.gms.permission.ACTIVITY_RECOGNITION" />

            <!-- This permission is needed so that Zendrive can track drives completely. This prevents Android from shutting down phone CPU in the middle of a drive. -->
            <uses-permission android:name="android.permission.WAKE_LOCK" />
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <service android:name="com.zendrive.sdk.services.UserActivityService" />
            <service android:name="com.zendrive.sdk.services.ZendriveService" />
        </config-file>

        <dependency id="com.google.playservices" />
        <dependency id="android.support.v4" />

        <source-file src="src/android/com/zendrive/phonegap/ZendriveCordovaPlugin.java" target-dir="src/com/zendrive/phonegap" />

        <!-- External Libraries -->
        <source-file src="src/android/libs/aws-android-sdk-core-2.1.3.jar" target-dir="libs" framework="true" />
        <source-file src="src/android/libs/aws-android-sdk-sqs-2.1.3.jar" target-dir="libs" framework="true" />
        <source-file src="src/android/libs/ebson-0.4-20140612.044330-1.jar" target-dir="libs" framework="true" />
        <source-file src="src/android/libs/gson-2.2.4.jar" target-dir="libs" framework="true" />
        <source-file src="src/android/libs/guava-13.0.1.jar" target-dir="libs" framework="true" />
        <source-file src="src/android/libs/libthrift-0.9.1.jar" target-dir="libs" framework="true" />
        <source-file src="src/android/libs/slf4j-api-1.5.8.jar" target-dir="libs" framework="true" />
        <source-file src="src/android/libs/slf4j-log4j12-1.5.8.jar" target-dir="libs" framework="true" />
        <source-file src="src/android/libs/ZendriveSDK-1.0.2.jar" target-dir="libs" framework="true" />

    </platform>
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="Zendrive">
                <param name="ios-package" value="ZendriveCordovaPlugin" />
            </feature>
        </config-file>
        <config-file target="*-Info.plist" parent="UIBackgroundModes">
            <array>
                <string>fetch</string>
                <string>location</string>
            </array>
        </config-file>
        <config-file target="*-Info.plist" parent="NSLocationAlwaysUsageDescription">
            <string>This app requires background location tracking</string>
        </config-file>

        <header-file src="src/ios/ZendriveCordovaPlugin.h" />
        <source-file src="src/ios/ZendriveCordovaPlugin.m" />

        <!-- Resource files required by AWS framework -->
        <resource-file src="src/ios/resources/s3-2006-03-01.json" />
        <resource-file src="src/ios/resources/sqs-2012-11-05.json" />

        <!-- System frameworks -->
        <framework src="CoreLocation.framework" />
        <framework src="CoreMotion.framework" />
        <framework src="SystemConfiguration.framework" />
        <framework src="libsqlite3.0.dylib" />
        <framework src="libz.1.1.3.dylib" />

        <!-- External Frameworks -->
        <framework src="src/ios/Frameworks/AWSiOSSDKv2.framework" custom="true" />
        <framework src="src/ios/Frameworks/Bolts.framework" custom="true" />
        <framework src="src/ios/Frameworks/FMDB.framework" custom="true" />
        <framework src="src/ios/Frameworks/GZIP.framework" custom="true" />
        <framework src="src/ios/Frameworks/LumberjackSDK.framework" custom="true" />
        <framework src="src/ios/Frameworks/Mantle.framework" custom="true" />
        <framework src="src/ios/Frameworks/OCMock.framework" custom="true" />
        <framework src="src/ios/Frameworks/Reachability.framework" custom="true" />
        <framework src="src/ios/Frameworks/TMCache.framework" custom="true" />
        <framework src="src/ios/Frameworks/UICKeyChainStore.framework" custom="true" />
        <framework src="src/ios/Frameworks/XMLDictionary.framework" custom="true" />
        <framework src="src/ios/Frameworks/ZendriveSDK.framework" custom="true" />

    </platform>
</plugin>
